/* 
    Document   : general
    Created on : 04/04/2012, 12:25:34
    Author     : mjustino
    Description:
        Purpose of the stylesheet follows.
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    -webkit-text-size-adjust: 100%;
}
ol, ul {
    list-style: none;
}
root { 
    display: block;
}
body {
    margin: 0px 0px;
    background: #ececec;
    /*margin: 40px;*/
    font: 13px/20px 'Trebuchet MS', 'Segoe UI', Tahoma, Helvetica;
    color: #4F5155;
}
#page{
    background: #ffffff;
    margin: 0px 0px;
    min-width: 571px;
}
/*/////////////////////////////////////////////////////////////////////////////

    BUTTON'S

/////////////////////////////////////////////////////////////////////////////*/
.button{
    font-weight: bold;
    text-shadow: 0px -1px 1px #fff;
    color: #555;
    -moz-border-radius: 4px; /* FF1+ */;
    -webkit-border-radius: 4px; /* Saf3-4 */;
    border-radius: 4px; /* Opera 10.5, IE 9, Saf5, Chrome */;
    padding: 4px 10px;
    -moz-box-shadow: 0px 2px 3px #fff inset; /* FF3.5+ */;
    -webkit-box-shadow: 0px 2px 3px #fff inset; /* Saf3.0+, Chrome */;
    box-shadow: 0px 2px 3px #fff inset; /* Opera 10.5, IE 9.0 */
    cursor: pointer;
    border: 1px #ccc solid;
    font-size: .9em;
    background-color: #fff; /* FF3.6 */;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#cccccc')";
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ffffff),color-stop(1, #cccccc));
    min-width: 70px;
    min-height: 35px;
}
.button:hover {
    color: #555;
    background-color: #eee; /* FF3.6 */;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#aaaaaa')";
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ffffff),color-stop(1, #aaaaaa));/* Saf4+, Chrome */
}
.button:active {
    -moz-box-shadow: 0px -1px 1px #8a8a8a; /* FF3.5+ */;
    -webkit-box-shadow: 0px -1px 1px #8a8a8a; /* Saf3.0+, Chrome */;
    box-shadow: 0px -1px 1px #8a8a8a; /* Opera 10.5, IE 9.0 */;
    border-color: #fff;
}
/*/////////////////////////////////////////////////////////////////////////////

    INPUTS

/////////////////////////////////////////////////////////////////////////////*/
input.field{
    width: 100%;
}
input.button{
    border-radius: 4px;
    /* Para Mozilla/Gecko (Firefox etc) */
    /*    background: -moz-linear-gradient(top, #0672ba, #fff) repeat-X;*/
    /* Para WebKit (Safari, Google Chrome etc) */
    /*    background: -webkit-gradient(linear, left top, left bottom, from(#0672ba), to(#fff)) repeat-X;*/
    /* Para IE 8 */
    /*    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#0672ba, endColorstr=#FFFFFFFF)";*/
    /* Para IE 5.5 - 7 */
    /*    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#0672ba, endColorstr=#FFFFFFFF);*/
    background: linear-gradient(0deg, #0672ba, #fff);
}
input.add{
    border: 0;
    opacity: 0.4;
    background: url('../../assets/images/view/reserva-simples/add.png') no-repeat center;
    width: 24px;
    line-height: 20px;
}
input.remove{
    border: 0;
    opacity: 0.4;
    background: url('../../assets/images/view/reserva-simples/remove.png') no-repeat center;
    width: 24px;
    line-height: 20px;
}
/*/////////////////////////////////////////////////////////////////////////////

    LOG's

/////////////////////////////////////////////////////////////////////////////*/
.log{
    width: 100%;
    border: 1px solid #525a73;
    padding: 5px;
    background: #dee7e7;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 5px;
    line-height: 30px;
    display: none;
}
.log p{
    padding: 20px;
    font-weight: bold;
    font-size: 15px;
}
/*/////////////////////////////////////////////////////////////////////////////

    TITLES

/////////////////////////////////////////////////////////////////////////////*/
h1{
    font-size: 16px;
    font-weight: bold;
    color: #1e82cc;
    padding: 40px 0 10px 0;
}
h2{
    font-size: 14px;
    font-weight: bold;
    color: #1e82cc;
    padding: 5px 0;
}