/* 
    Document   : general
    Created on : 04/04/2012, 12:25:34
    Author     : mjustino
    Description:
        Purpose of the stylesheet follows.
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    -webkit-text-size-adjust: 100%;
}

ol, ul {
    list-style: none;
}

root { 
    display: block;
}

body {
    margin: 0px 0px;
    background: #ececec;
    /*margin: 40px;*/
    font: 13px/20px normal Segoe UI, Helvetica, Arial, sans-serif;
    color: #4F5155;
}

#page{
    background: #ffffff;
    margin: 0px 0px;
    min-width: 571px;
}