@charset 'utf-8';
/* 
    Document   : navigator
    Created on : 05/04/2012, 16:31:40
    Author     : mjustino
    Description:
        Purpose of the stylesheet follows.
*/
.menu-sistem-bar{
    list-style:none; 
    /*    border:1px solid #c0c0c0; */
    float:left;
    padding: 0 20px 0 20px;
    font-family: "Segoe UI", Tahoma, Helvetica;
    font-size: 12px;
    width: 100%;
    background: #1e82cc;
}
.menu-sistem-bar li{
    position:relative; 
    float:left; 
    /*    border-right:1px solid #c0c0c0; */
}
.menu-sistem-bar li a{
    font-size:1.3em;  
/*    color:#333; */
    color:#ffffff; 
    text-decoration: none;
    padding:5px 10px;
    display:block;
}
.menu-sistem-bar li a:hover{
    background: #333;
    color: #FFFFFF;
    /*    -moz-box-shadow:0 3px 10px 0 #CCC; 
        -webkit-box-shadow:0 3px 10px 0 #ccc; 
        text-shadow:0px 0px 5px #fff;*/
}
.menu-sistem-bar li:hover{
    background: #333;
}
.menu-sistem-bar li ul{
    position:absolute;
    z-index: 100;
    display:none; 
    width: 200px;
/*    border: 1px solid #000000;*/
/*    border: 1px solid #ffffff;*/
}
.menu-sistem-bar li ul li{
    border: 0;
    width: 100%;
/*    background: #dee7e7;*/
    background: #1e82cc;
}
.menu-sistem-bar li ul li:nth-child(n+2){
/*    border-top: 1px solid #000000;*/
/*    border-top: 1px solid #ffffff;*/
}
.menu-sistem-bar li:hover ul,
.menu-sistem-bar li.over ul{
    display:block;
    /*    border: 0 1px 1px 1px solid #ccc;*/
    /*    border-radius: 0 0 6px 6px;*/
}