#side_bar{
    float: left;
    width: 5%;
    display: none;
    background: black;
    color: white;
}
#side_bar ul{
    list-style: none;
}
#side_bar ul li{
    display: list-item;
    color: white;
    font-size: 12px;
    color: #0672ba;
}
#side_bar li a{
    text-shadow: 2px 2px #ececec;
}