/* 
    Document   : welcome
    Created on : 19/07/2012
    Author     : mjustino
    Description:
    Purpose of the stylesheet follows.
*/
#welcome{
    
}

input.modulo{    
/*    opacity: 0.7;    */
    width: 200px;
    height: 60px;
    line-height: 20px;
    -webkit-border-radius: 12px 0 12px 0;
    -moz-border-radius: 12px 0 12px 0;
    border-radius: 12px 0 12px 0;
    background-color: #0672ba;
    border: 0px;
    font-family: "Segoe UI", Tahoma, Helvetica;
    color: white;
}