.ui-autocomplete-loading { 
    background: white url('../../../assets/images/ui-anim.basic.16x16.gif') right center no-repeat; 
}
#projeto-servicos{
    display: none;
}
.ui-widget input{
    width: 98%;
    border: 1px double #CCC;
    padding: 3px 6px;    
    outline: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: -1px 1px 0px #fff;
    -webkit-box-shadow: -1px 1px 0px #fff;
    box-shadow: -1px 1px 0px #fff;
    color: #555;
    background-color: #ededed;
    moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #444;
}
.ui-widget input:focus{
    background-color: #fff;
}
tr:nth-child(2n){
    border-top: 1px #ccc solid;
}